*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

@font-face {
    font-family: 'grottabold';
    src: url('font/grotta-bold-webfont.woff2') format('woff2'),
         url('font/grotta-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'grottalight';
    src: url('font/grotta-light-webfont.woff2') format('woff2'),
         url('font/grotta-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'grottamedium';
    src: url('font/grotta-medium-webfont.woff2') format('woff2'),
         url('font/grotta-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'grottaregular';
    src: url('font/grotta-regular-webfont.woff2') format('woff2'),
         url('font/grotta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'grottasemibold';
    src: url('font/grotta-semibold-webfont.woff2') format('woff2'),
         url('font/grotta-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
    overflow-x: hidden;
}


.choix1{
    background: #545453;
}

.choix2{
    background: #4c4c4c;
}
.choix3{
    background: #454342;
}
.choix4{
    background: #3c3c3b;
}

.choix{
    height: 100%;
    position: relative;
    transition-duration: .5s;
    flex: 1;
}

h1{
    position: absolute;
    top: 7%;
    left: 10%;
    font-family: 'grottabold';
    font-size: 4vmax;
} 

h2{
    position: absolute;
    bottom: 7%;
    right: 10%;
    writing-mode: vertical-rl;
    font-family: 'grottalight';
    font-size: 1.5vmax;
}


.discover_card{
    font-family: 'grottamedium';
    position: absolute;
    top: 7%;
    right: 15%;
    visibility: hidden;
    display: inline-block;
    color: white;
    text-decoration: none;

    
}

.discover_card:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.discover_card:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
    

@media (max-width: 1250px) { 
    body{
        flex-direction: column;
    }

    h1{
        top: 10%;
        left: 5%;
    }

    h2 {
        bottom: 10%;
        right: 5%;
        writing-mode: horizontal-tb;
    }
}