*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 2;
}

@font-face {
    font-family: 'grottabold';
    src: url('font/grotta-bold-webfont.woff2') format('woff2'),
         url('font/grotta-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'grottalight';
    src: url('font/grotta-light-webfont.woff2') format('woff2'),
         url('font/grotta-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'grottamedium';
    src: url('font/grotta-medium-webfont.woff2') format('woff2'),
         url('font/grotta-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'grottaregular';
    src: url('font/grotta-regular-webfont.woff2') format('woff2'),
         url('font/grotta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'grottasemibold';
    src: url('font/grotta-semibold-webfont.woff2') format('woff2'),
         url('font/grotta-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'osbourne_promedium';
    src: url('font/osbournepro-medium-webfont.woff2') format('woff2'),
         url('font/osbournepro-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'osbourne_proregular';
    src: url('font/osbournepro-regular-webfont.woff2') format('woff2'),
         url('font/osbournepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'osbourne_problack';
    src: url('font/osbournepro-black-webfont.woff2') format('woff2'),
         url('font/osbournepro-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'osbourne_probold';
    src: url('font/osbournepro-bold-webfont.woff2') format('woff2'),
         url('font/osbournepro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'osbourne_prolight';
    src: url('font/osbournepro-light-webfont.woff2') format('woff2'),
         url('font/osbournepro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    background: black;
    /* overflow-x: hidden; */
}



svg{
    z-index: 1;
} 

h1{
    font-size: 4vmax;
    font-family: 'grottabold';
    /* font-style: italic; */
    color: white;
}



/**/


.projet1{
    width: 100%;
    height: 100vh;
    background: #3D3D3D;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}
.projet1 h1{
    position: absolute;
    top: 3%;
    left: 15%;
    /* text-shadow: #FC0 1px 0 10px; */
}
.projet1 h2{
    font-size: 1.4vmax;
}
.projet1 p{
    font-size: 1vmax;
    margin-top: 1vmax;
}
.traitNoirP1{
    width: 13%;
    height: 4vmax;
    position: absolute;
    top: 7%;
    background: #353535;
    border-radius: 0 20px 0 0 ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.traitNoirP2{
    width: 50vw;
    height: 4vmax;
    position: absolute;
    right: 0;
    top: 7%;
    background: #353535;
    border-radius: 0 0 0 20px ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.fond1{
    position: absolute;
    bottom: 0;
}

.containerp1{
    width: inherit;
    height: inherit;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.wrapper{
    margin-bottom: 5%;
    width: 90%;
    height: 70%;
    /* background: #001220; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1rem;
}
.wrapper{
    font-family: 'grottalight';
}


.grid-items{
    background: #001220;
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 10px;
    padding: 5%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.item-1{
    grid-column: span 2;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.item-2{
    grid-row: 2;
    background: #063254;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-temps{
    width: 50%;
    height: auto;
}
.desc-temp-1{
    font-size: 1.2vmax;
    font-family: 'grottaregular';
}
.desc-temp-2{
    font-size: 1vmax;
    color: #C5D6E3;
}



.item-3{
    grid-column: span 2;
    grid-row: 2;
    background: white;
    color: black;
   
}
.item-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grille-equipe{
    /* background: red; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    
}
.item-3 img{
    /* background: red; */
    /* border: 1px solid black;  */
    max-width: 110px;
    width: 50%;
    height: auto;
    transition: all .3s;
    
}

.item-3 img:hover{
    transform: scale(1.2);
    transition: all .3s;
}

.item-4{
    background: #063254;
    /* background: inherit; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* margin-left: 50px; */
}

.item-5{
    grid-column: span 3;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    /* background: red; */
    width: inherit;
    height: inherit;
    overflow: hidden;
    white-space: nowrap;
    
}

.slide-1{
    background: url("./image/J_B_accueil.png") no-repeat center;
    /* transform: translateX(-100%); */
}

.slide-2{
    background: url("./image/J_B_connexion.png") no-repeat center;
}

.slide-3{
    background: url("./image/J_B_gestionClient.png") no-repeat center;
}

.slide-4{
    background: url("./image/J_B_gestionEmployé.png") no-repeat center;
}

.slide{
    width: 100%;
    height: 100%;
    position: relative;
    background-size: contain;
    display: inline-block;
    /* transition: all 1s; */
}

.choix-slider{
    /* background: red; */
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    width: 25%;
    height: 20px;
    display: flex;
    justify-content: space-between;

}

.choix{
    background: transparent;
    width: 23%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s all;
}


.choix:hover{
    background: #fff;
    color: #001220;
    transition: .3s all;
}








.projet2{
    width: 100%;
    height: 100vh;
    background: #C5D6E3;
    position: relative;
}

.projet2 h1{
    position: absolute;
    top: 7%;
    right: 5%;
    color: black;
}

.fond2{
    position: absolute;
    top: 0; 
    transform: rotate(180deg);
}

.fond3{
    position: absolute;
    bottom: 0;
}



.projet3{
    width: 100%;
    height: 100vh;
    background: #323232;
    position: relative;
}

.fond4{
    position: absolute;
    top: 0;
    transform: rotate(180deg);
}

.projet3 h1{
    position: absolute;
    top: 7%;
    left: 5%;
}

@media (max-width: 1200px) {
    .projet1 h2{
        font-size: 2vmax;
    }
    .projet1 p{
        font-size: 1.5vmax;
        margin-top: 1vmax;
    }
}

@media (max-width: 800px) {
    .wrapper{
        gap: 0.3rem;
        width: 95%;
        height: 80%;
        grid-template-rows: repeat(4, 1fr);
    }

    .item-1{
        grid-column: span 4;
    }
    .item-2{
        grid-column: span 2;
    }
    .item-3{
        grid-column: span 4;
    }
    .item-4{
        grid-column: span 2;
    }
    .item-5{
        grid-column: span 6;
    }

    .grille-equipe{
        grid-template-columns: repeat(4,1fr);
    }

    .item-4 h2{
        font-size: 1.5vmax;
    }
    .item-4 p{
        font-size: 1.3vmax;
    }
    
    
}



@media (max-width: 500px) {
    .traitNoirP2{
        width: 30vw;
    }
    
}

/* .hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
} */

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.grid-items:nth-child(1){
    transition-delay: 100ms;
}
.grid-items:nth-child(2){
    transition-delay: 200ms;
}
.grid-items:nth-child(3){
    transition-delay: 300ms;
}
.grid-items:nth-child(4){
    transition-delay: 400ms;
}
.grid-items:nth-child(5){
    transition-delay: 500ms;
}



@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}