*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 2;
}

@font-face {
    font-family: 'grottabold';
    src: url('font/grotta-bold-webfont.woff2') format('woff2'),
         url('font/grotta-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'grottalight';
    src: url('font/grotta-light-webfont.woff2') format('woff2'),
         url('font/grotta-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'grottamedium';
    src: url('font/grotta-medium-webfont.woff2') format('woff2'),
         url('font/grotta-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'grottaregular';
    src: url('font/grotta-regular-webfont.woff2') format('woff2'),
         url('font/grotta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'grottasemibold';
    src: url('font/grotta-semibold-webfont.woff2') format('woff2'),
         url('font/grotta-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'osbourne_promedium';
    src: url('font/osbournepro-medium-webfont.woff2') format('woff2'),
         url('font/osbournepro-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'osbourne_proregular';
    src: url('font/osbournepro-regular-webfont.woff2') format('woff2'),
         url('font/osbournepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'osbourne_problack';
    src: url('font/osbournepro-black-webfont.woff2') format('woff2'),
         url('font/osbournepro-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'osbourne_probold';
    src: url('font/osbournepro-bold-webfont.woff2') format('woff2'),
         url('font/osbournepro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'osbourne_prolight';
    src: url('font/osbournepro-light-webfont.woff2') format('woff2'),
         url('font/osbournepro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    background: #D2434D;

    position: relative;
}

.retourAccueil{
    position: fixed;
    right: 0;
    margin: 2%;
    z-index: 999999999;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #fff;
    transition: all .8s;
    text-decoration: none;
    font-size: 1.2vmax;
    font-family: 'grottabold';
}

.retourAccueil:hover{
    transform: scale(1.01);
    transition: all .8s;
}


.content{
    height: 100vh;
}




.fond1{
    position: absolute;
    top: 0;
    z-index: 10;
    transform: rotate(180deg);
}

.fond2{
    position: absolute;
    bottom: 0;
}

h1{
    font-family: 'osbourne_prolight';
    font-size: 6vmax;
    font-weight: 900;
    color: #fbfbfd;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 10px;
    z-index: 11;
}

.content1{
    width: 100%;

    height: 80%;
    background: #fbfbfd;
    position: absolute;
    top: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    
}



.description_projet{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 1em;
    font-family: 'grottalight';
    font-size: 2vmax;
}

.description_projet a{
    color: #000;
    transition: .3s all;
}
.description_projet a:hover{
    background: white;
    color: #D2434D;
    transition: .3s all;
    font-size: 2.1vmax;
}


@media (max-width: 800px) {
    .description_projet{
        font-size: 3vmax;
    }

    h1{
        font-size: 4vmax;
        top: 25px;
    }

    .retourAccueil{
        width: 80px;
        height: 20px;
    }
}


